.infobtn {
    border-radius: 0 0 0 0;
}
.reportbtn {
    border-radius: 0 5px 5px 0;
}

.modalContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.box2 {
    padding: 0.5em 1em;
    margin: 2em 0;
    font-weight: bold;
    /*color: #6091d3;*//*文字色*/
    background: #FFF;
    border: solid 3px #6091d3;/*線*/
    border-radius: 10px;/*角の丸み*/
}
.box2 p {
    margin: 0;
    padding: 0;
}

.field {
    display: flex;
    justify-content: center;
}

hr {
    height: 5px;
    background-color: black;
    width: 100%;
}