.infobtn {
    border-radius: 0 0 0 0;
}
.reportbtn {
    border-radius: 0 5px 5px 0;
}

.modalContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.field {
    display: flex;
    justify-content: center;
}

hr {
    height: 5px;
    background-color: black;
    width: 100%;
}

.submitbtn{
    position:fixed;
    top:70px;
    right:50px;
}

.fixed_btn {
    position: fixed;
    bottom: 40px;
    right: 50px;
}

.approvalCheckBox{
    height: 52px;
    width: 210px;
    border-radius: 0 5px 5px 0;
}