<!DOCTYPE html>
<html lang="ja"
      layout:decorate="~{layout/layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>授業分類</title>
  <script th:src="@{/classificationSelect.js}"></script>
</head>
<body>
<section layout:fragment="content">
  <form th:action="@{/jobportal/teacher/classification}" th:method="post" th:object="${classification}">
    <div class="w-50 mx-auto">
      <h3>学年</h3>
      <span th:errors="*{grade}"></span>
      <select class="form-select" name="grade" aria-label="Default select example">
        <option value="">学年</option>
        <option value="1">1</option>
        <option value="2">2</option>
      </select>
      <h3>クラス</h3>
      <span th:errors="*{classroom}"></span>
      <select id="classroom" class="form-select" name="classroom" aria-label="Default select example">
        <option value="" selected>クラス</option>
        <option value="A">A</option>
        <option value="B">B</option>
        <option value="J">J</option>
        <option value="M">M</option>
        <option value="F">F</option>
        <option value="G">G</option>
      </select>
      <h3>コース</h3>
      <span th:errors="*{course}"></span>
      <select id="course" class="form-select" name="course" aria-label="Default select example">
        <option value="">クラスを選択してください</option>
      </select>
      <h3>期</h3>
      <span th:errors="*{semester}"></span>
      <select class="form-select" name="semester" aria-label="Default select example">
        <option value="" selected>期</option>
        <option value="前期">前期</option>
        <option value="後期">後期</option>
      </select>
      <div class="d-flex justify-content-between mt-3">
        <a th:href="@{/jobportal/teacher}" class="btn btn-danger">中止</a>
        <div class="text-end">
          <button class="btn btn-primary" type="submit">次へ</button>
        </div>
      </div>
    </div>
  </form>
</section>
</body>
</html>