<!doctype html>
<html lang="ja"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>JobPortal</title>
    <script th:src="@{/main.js}"></script>
</head>
<body>
    <section layout:fragment="content">
        Hello!?<br>
        <a th:href="@{/student}" class="button">学生用ページ</a><br>
        <a th:href="@{/teacher}" class="button">先生用ページ</a>
        <h1 th:text="${message}">Hello, World!</h1>
        <form th:action="@{/test}" method="post" th:object="${form}">
<!--            <input type="text" name="text" id="text" th:value="${value}">-->
<!--            <div class="form-group mt-3">-->
<!--                <h3>公欠日時</h3>-->
<!--                <label class="form-label mt-3" for="date">公欠日を選択:</label>-->
<!--                <input type="date" id="date" name="OADate" onchange="addOADate(this.value)" required>-->
<!--                <div id="OADates"></div>-->
<!--                <br><br>-->
<!--            </div>-->
            <label for="a"><input type="text" id="a" name="parentValue[]" value="parentA" readonly></label>
            <label><input type="checkbox" id="a-1" name="child['exaA'][]" value="a-1">pushA-1</label>
            <label><input type="checkbox" id="a-2" name="child['exaA'][]" value="a-2">pushA-2</label>
            <label for="b"><input type="text" id="b" name="parentValue[]" value="parentB" readonly></label>
            <label><input type="checkbox" id="b-1" name="child['exaB'][]" value="b-1">pushB-1</label>
            <label><input type="checkbox" id="b-2" name="child['exaB'][]" value="b-2">pushB-2</label>
            <span th:errors="*{child}"></span>
            <input type="text" value="d" name="text">
            <span th:errors="*{text}"></span>
            <button type="submit" class="btn btn-primary">作成</button>
        </form>
<!--        <form th:action="@{/validatedTest}" method="post" th:object="${form}">-->
<!--            <input type="text" name="text" th:field="*{text}">-->
<!--            <span th:errors="*{text}"></span>-->
<!--            <button type="submit" class="btn btn-primary">送信</button>-->
<!--        </form>-->
    </section>
</body>
</html>