<!DOCTYPE html>
<html lang="ja"
      layout:decorate="~{layout/layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>F</title>
    <!--    <script th:src="@{/script/main.js}"></script>-->
</head>
<body>
<section layout:fragment="content">
    <a type="button" th:href="@{/index}" class="button">戻る</a><br>
    <form th:action="@{/student/OACreationForm}" method="post" th:object="${oAMainForm}">
        <div class="form-group mt-3" id="officialAbsenceDetail">
            <h3><label class="form-label" for="reasonAbsence">公欠理由</label></h3>
<!--            <span th:errors="*{reasonForAbsence}"></span>-->
            <div aria-label="Basic radio toggle button group" class="btn-group" id="reasonAbsence" role="group">
                <input autocomplete="off" checked class="btn-check" id="jobSearch" name="reasonForAbsence" type="radio" value="jobSearchForm" th:checked="*{reasonForAbsence} == 'jobSearchForm'">
                <label class="btn btn-outline-primary" for="jobSearch">就活</label>
                <input autocomplete="off" class="btn-check" id="seminar" name="reasonForAbsence" type="radio" value="seminarForm" th:checked="*{reasonForAbsence} == 'seminarForm'">
                <label class="btn btn-outline-primary" for="seminar">セミナー、合同説明会</label>
                <input autocomplete="off" class="btn-check" id="bereavement" name="reasonForAbsence" type="radio" value="bereavementForm" th:checked="*{reasonForAbsence} == 'bereavementForm'">
                <label class="btn btn-outline-primary" for="bereavement">忌引</label>
                <input autocomplete="off" class="btn-check" id="attendanceBan" name="reasonForAbsence" type="radio" value="attendanceBanForm" th:checked="*{reasonForAbsence} == 'attendanceBanForm'">
                <label class="btn btn-outline-primary" for="attendanceBan">出席停止</label>
                <input autocomplete="off" class="btn-check" id="other" name="reasonForAbsence" type="radio" value="otherForm" th:checked="*{reasonForAbsence} == 'otherForm'">
                <label class="btn btn-outline-primary" for="other">その他</label>
            </div>
        </div>
        <div id="jobSearchForm">
            <div class="form-group mt-3">
                <h3>活動内容</h3>
                <label class="form-check-label" for="briefing">
                <input checked class="form-check-input" id="briefing" name="jobForm.detail" type="radio" value="briefing">
                    説明会
                </label>
                <label class="form-check-label" for="test">
                <input class="form-check-input" id="test" name="jobForm.detail" type="radio" value="test">
                    試験
                </label>
                <label class="form-check-label" for="visit">
                <input class="form-check-input" id="visit" name="jobForm.detail" type="radio" value="visit">
                    訪問
                </label>
                <label class="form-check-label" for="jobOther">
                <input class="form-check-input" id="jobOther" name="jobForm.detail" type="radio" value="jobOther">
                    その他
                </label>
            </div>
            <div class="form-group mt-3">
                <h3><label class="form-label" for="companyName">訪問先(企業名)</label></h3>
                <span th:errors="*{jobForm.companyName}"></span>
                <input type="text"
                       class="form-control"
                       id="companyName"
                       name="jobForm.companyName"
                       placeholder="訪問先(企業名)"
                       th:value="*{jobForm.companyName}"
                >

            </div>
            <div class="form-group mt-3">
                <h3><label class="form-label" for="address">所在地</label></h3>
                <span th:errors="*{jobForm.address}"></span>
                <input class="form-control"
                       id="address"
                       name="jobForm.address"
                       placeholder="所在地"
                       th:value="*{jobForm.address}"
                >
            </div>
        </div>
        <div id="seminarForm" style="display:none">
            <div class="form-group mt-3">
                <h3><label class="form-label" for="seminarName">セミナー・合説名</label></h3>
                <span th:errors="*{seminarForm.seminarName}"></span>
                <input class="form-control"
                       id="seminarName"
                       name="seminarForm.seminarName"
                       placeholder="合説・セミナー名"
                       th:value="*{seminarForm.seminarName}"
                >
            </div>
            <div class="form-group mt-3">
                <h3><label class="form-label" for="location">実施場所</label></h3>
                <span th:errors="*{seminarForm.location}"></span>
                <input class="form-control"
                       id="location"
                       name="seminarForm.location"
                       placeholder="実施場所"
                       th:value="*{seminarForm.location}"
                >
            </div>
            <div class="form-group mt-3">
                <h3><label class="form-label" for="venueName">会場名</label></h3>
                <span th:errors="*{seminarForm.venueName}"></span>
                <input class="form-control"
                       id="venueName"
                       name="seminarForm.venueName"
                       placeholder="会場名"
                       th:value="*{seminarForm.venueName}"
                >
            </div>
        </div>
        <div id="bereavementForm" style="display:none">
            <div class="form-group mt-3">
                <h3><label class="form-label" for="deceasedName">亡くなった方</label></h3>
                <span th:errors="*{bereavementForm.deceasedName}"></span>
                <input class="form-control"
                       id="deceasedName"
                       name="bereavementForm.deceasedName"
                       placeholder="亡くなった方"
                       th:value="*{bereavementForm.deceasedName}"
                >
            </div>
            <div class="form-group mt-3">
                <h3><label class="form-label" for="relationship">続柄</label></h3>
                <span th:errors="*{bereavementForm.relationship}"></span>
                <input class="form-control"
                       id="relationship"
                       name="bereavementForm.relationship"
                       placeholder="続柄"
                       th:value="*{bereavementForm.relationship}"
                >
            </div>
        </div>
        <div id="attendanceBanForm" style="display:none">
            <div class="form-group mt-3">
                <h3><label class="form-label" for="banReason">停止理由(病名)</label></h3>
                <span th:errors="*{banForm.reason}"></span>
                <input class="form-control"
                       id="banReason"
                       name="banForm.reason"
                       placeholder="停止理由(病名)"
                       th:value="*{banForm.reason}"
                >
            </div>
        </div>
        <div id="otherForm" style="display:none">
            <div class="form-group mt-3">
                <h3><label class="form-label" for="reason">理由</label></h3>
                <span th:errors="*{otherForm.reason}"></span>
                <input class="form-control"
                       id="reason"
                       name="otherForm.reason"
                       placeholder="理由"
                       th:value="*{otherForm.reason}"
                >
            </div>
        </div>
        <div id="OADatesForm">
            <div class="form-group mt-3">
                <h3>公欠日時</h3>
                <span th:errors="*{OAPeriods}"></span>
                <label class="form-label mt-3" for="date">公欠日を選択:</label>
                <input class="form-control" type="text" id="date" name="OADate" onchange="addOADate(this.value.replaceAll('/',''))" readonly>
                <div id="OADates"></div>
                <br><br>
            </div>
        </div>
        <script>
            $(document).ready(function() {
                // datepickerを初期化
                $("#date").datepicker({
                    dateFormat: "yy/mm/dd",
                    onClose: function() {
                        // カレンダーが閉じられた時にdatepickerのインスタンスを破棄
                        $(this).datepicker("destroy");
                    }
                });

                // inputフィールドがクリックされたときに再度datepickerを有効化
                $("#date").on("focus", function() {
                    // datepickerを再度初期化してカレンダーを表示
                    $(this).datepicker({
                        dateFormat: "yy/mm/dd"
                    }).datepicker("show");
                });
            });
        </script>

        <div class="d-flex justify-content-between">
            <a th:href="@{/student}" class="btn btn-danger">中止</a>
            <div class="text-end">
                <button type="submit" class="btn btn-primary">作成</button>
            </div>
        </div>
    </form>
</section>
<!--<a th:href="@{/tasks/creationForm}" class="btn btn-primary">作成</a>-->
<div class="card">
    <div class="card-header"></div>
    <div class="card-body"></div>
</div>
</body>
</html>