<!doctype html>
<html lang="ja"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <script th:src="@{/js/reportLogs.js}" type="text/javascript"></script>
    <title>報告書閲覧</title>

</head>
<body>
<section layout:fragment="content">
    <a th:href="${mode != 'reportApproval'} ? @{/jobportal/student/{studentId}(studentId=${studentId})}:@{/jobportal/teacher/OAList}" class="btn btn-primary">戻る</a><br>
    <th:block th:if="${mode != 'reportApproval'}">
        <form th:action="@{/jobportal/student/{studentId}/reportLogs(studentId=${studentId})}" method="get" class="mt-3">
            <div class="input-group mb-3">
                <button type="submit" class="input-group-text btn btn-primary" id="basic-addon1"><i class="bi bi-search"></i> 検索</button>
                <input type="text" class="form-control" placeholder="会社名を入力" aria-label="companyName" name="companyName" th:value="${companyName}" aria-describedby="basic-addon1">
            </div>
        </form>
        <th:block th:if="${maxSize == 0}" class="ms-5">
            <h2>検索結果が見つかりませんでした</h2><br>
            <h5 class="ms-5">ヒント : 英語 ↔ カタカナ
                <div class="ms-5">(company　↔　カンパニー)</div>
                <div class="ms-5">(ABC ↔ エービーシー)</div>
            </h5>
        </th:block>
        <th:block th:if="${maxSize != 0}">
            <nav aria-label="Page navigation example">
                <ul class="pagination pagination-lg d-flex justify-content-center">
                    <li class="page-item">
                        <a class="page-link" th:classappend="${currentPage == 1}?'disabled':''" th:href="@{/jobportal/student/{studentId}/reportLogs(studentId=${studentId}, currentPage=${currentPage - 1})}">prev</a>
                    </li>
                    <th:block th:each="i : ${#numbers.sequence(start, end)}">
                        <li class="page-item">
                            <a class="page-link" th:classappend="${i == currentPage}?'active':''" th:href="@{/jobportal/student/{studentId}/reportLogs(studentId=${studentId}, currentPage=${i})}">[[${i}]]</a>
                        </li>
                    </th:block>
                    <li class="page-item">
                        <a class="page-link" th:classappend="${currentPage == maxSize}?'disabled':''" th:href="@{/jobportal/student/{studentId}/reportLogs(studentId=${studentId}, currentPage=${currentPage + 1})}">next</a>
                    </li>
                </ul>
            </nav>
        </th:block>
    </th:block>
    <form th:action="@{/jobportal/teacher/reportApproval}" method="post" th:object="${reportApprovalForm}" class="mt-3">
        <div th:each="entity, stat : ${logEntities}" class="accordion mx-auto" id="reportLogAccordion">
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <th:block th:if="${mode == 'reportApproval'}">
                        <div class="row">
                            <div class="col-10 me-0 pe-0">
                                <button class="accordion-button collapsed" type="button"
                                    th:data-bs-target="'#collapse' + ${stat.index}"
                                    data-bs-toggle="collapse"
                                    aria-expanded="false">
                                    <i class="bi bi-person me-1 ms-5"></i>
                                    <th:block th:if="${mode == 'reportApproval'}">
                                        [[${entity.studentId}]]
                                    </th:block>
                                    <th:block th:unless="${mode == 'reportApproval'}">
                                        第 [[${entity.studentId}]] 期生
                                    </th:block>
                                    <th:block th:if="${entity.reason.toString() != 'seminar'}">
                                        <div class="ms-5"><i class="bi bi-building me-1"></i> [[${entity.companyName}]]</div>
                                    </th:block>
                                    <div class="ms-5">[[${entity.reason.getJapaneseName()}]]</div>
                                </button>
                            </div>
                            <div class="col-2 m-0 p-0">
                                <input type="checkbox" class="btn-check approvalCheckBox"
                                       style="text-align: right"
                                       th:id="'btn-check-outlined-' + ${stat.index}"
                                       autocomplete="off"
                                       th:name="reportApproval[]"
                                       th:value="${entity.getReportId()}">
                                <label class="approvalCheckBox btn btn-outline-primary btn-lg px-3"
                                       th:for="'btn-check-outlined-' + ${stat.index}">承認</label><br>
                            </div>
                        </div>
                    </th:block>
                    <th:block th:unless="${mode == 'reportApproval'}">
                        <button class="accordion-button collapsed" type="button"
                                th:data-bs-target="'#collapse' + ${stat.index}"
                                data-bs-toggle="collapse"
                                aria-expanded="false">
                            <i class="bi bi-person me-1 ms-5"></i>
                            <th:block th:if="${mode == 'reportApproval'}">
                                [[${entity.studentId}]]
                            </th:block>
                            <th:block th:unless="${mode == 'reportApproval'}">
                                第 [[${entity.studentId}]] 期生
                            </th:block>
                            <th:block th:if="${entity.reason.toString() != 'seminar'}">
                                <div class="ms-5"><i class="bi bi-building me-1"></i> [[${entity.companyName}]]</div>
                            </th:block>
                            <div class="ms-5">[[${entity.reason.getJapaneseName()}]]</div>
                        </button>
                    </th:block>
                </h2>
            <div th:id="collapse + ${stat.index}" class="accordion-collapse collapse" data-bs-parent="#reportLogAccordion">
                <div class="accordion-body">
                    <th:block th:switch="${entity.reason.toString()}">
                        <span th:case="jobInterview">
                            面接官人数 : [[${entity.interviewerNumber}]] 人<br>
                            タイプ : [[${entity.interviewType.getJapaneseName()}]]<br>
                            内容 : [[${entity.interviewContent}]]<br>
                            感想 : [[${entity.interviewImpressions}]]<br>
                            <th:block th:if="${mode == 'reportApproval'}">
                                今後の受験 : [[${entity.isSelection.getJapaneseName()}]]<br>
                                <th:block th:if="${entity.nextAction != null}">
                                    次のアクション : [[${entity.nextAction}]]<br>
                                </th:block>
                            </th:block>
                        </span>
                        <span th:case="briefing">
                            内容 : [[${entity.briefingContent}]]<br>
                            感想 : [[${entity.briefingImpressions}]]<br>
                        </span>
                        <span th:case="test">
                            <th:block th:if="${not #strings.isEmpty(entity.generalKnowledgeNumber)}">
                                一般常識問題数 : [[${entity.generalKnowledgeNumber}]]<br>
                            </th:block>
                            <th:block th:if="${not #strings.isEmpty(entity.generalKnowledgeType)}">
                                一般常識問題種類 : [[${entity.generalKnowledgeType}]]<br>
                            </th:block>
                            <th:block th:if="${not #strings.isEmpty(entity.jobQuestionNumber)}">
                                職業問題数 : [[${entity.jobQuestionNumber}]]<br>
                            </th:block>
                            <th:block th:if="${not #strings.isEmpty(entity.jobQuestionType)}">
                                職業問題種類 : [[${entity.jobQuestionType}]]<br>
                            </th:block>
                            <th:block th:if="${not #strings.isEmpty(entity.SPILanguageSystemNumber)}">
                                SPI言語系問題数 : [[${entity.SPILanguageSystemNumber}]]<br>
                            </th:block>
                            <th:block th:if="${not #strings.isEmpty(entity.SPINonLanguageSystemNumber)}">
                                SPI非言語系問題数 : [[${entity.SPINonLanguageSystemNumber}]]<br>
                            </th:block>
                            <th:block th:if="${not #strings.isEmpty(entity.SPIOthersNumber)}">
                                SPIその他問題数 : [[${entity.SPIOthersNumber}]]<br>
                            </th:block>
                            <th:block th:if="${not #strings.isEmpty(entity.personalityDiagnosisNumber)}">
                                性格診断項目数 : [[${entity.personalityDiagnosisNumber}]]<br>
                            </th:block>
                            <th:block th:if="${not #strings.isEmpty(entity.personalityDiagnosisType)}">
                                性格診断種類 : [[${entity.personalityDiagnosisType}]]<br>
                            </th:block>
                            <th:block th:if="${not #strings.isEmpty(entity.nationalLanguageNumber)}">
                                国語問題数 : [[${entity.nationalLanguageNumber}]]<br>
                            </th:block>
                            <th:block th:if="${not #strings.isEmpty(entity.nationalLanguageType)}">
                                国語問題種類 : [[${entity.nationalLanguageType}]]<br>
                            </th:block>
                            <th:block th:if="${not #strings.isEmpty(entity.mathNumber)}">
                                数学問題数 : [[${entity.mathNumber}]]<br>
                            </th:block>
                            <th:block th:if="${not #strings.isEmpty(entity.mathType)}">
                                数学問題種類 : [[${entity.mathType}]]<br>
                            </th:block>
                            <th:block th:if="${not #strings.isEmpty(entity.englishNumber)}">
                                英語問題数 : [[${entity.englishNumber}]]<br>
                            </th:block>
                            <th:block th:if="${not #strings.isEmpty(entity.englishType)}">
                                英語問題種類 : [[${entity.englishType}]]<br>
                            </th:block>
                            <th:block th:if="${not #strings.isEmpty(entity.currentAffairsNumber)}">
                                時事問題数 : [[${entity.currentAffairsNumber}]]<br>
                            </th:block>
                            <th:block th:if="${not #strings.isEmpty(entity.currentAffairsType)}">
                                時事問題種類 : [[${entity.currentAffairsType}]]<br>
                            </th:block>
                            <th:block th:if="${not #strings.isEmpty(entity.writingTimer)}">
                                作文試験時間 : [[${entity.writingTimer}]]<br>
                            </th:block>
                            <th:block th:if="${not #strings.isEmpty(entity.writingNumberOfCharacters)}">
                                作文文字数 : [[${entity.writingNumberOfCharacters}]]<br>
                            </th:block>
                            <th:block th:if="${not #strings.isEmpty(entity.writingTheme)}">
                                作文テーマ : [[${entity.writingTheme}]]<br>
                            </th:block>
                            <th:block th:if="${not #strings.isEmpty(entity.expertiseNumber)}">
                                専門知識問題数 : [[${entity.expertiseNumber}]]<br>
                            </th:block>
                            <th:block th:if="${not #strings.isEmpty(entity.expertiseType)}">
                                専門知識種類 : [[${entity.expertiseType}]]<br>
                            </th:block>
                            <th:block th:if="${not #strings.isEmpty(entity.others)}">
                                その他 : [[${entity.others}]]<br>
                            </th:block>
                            <th:block th:if="${not #strings.isEmpty(entity.testImpressions)}">
                                感想 : [[${entity.testImpressions}]]<br>
                            </th:block>
                        </span>
                        <span th:case="informalCeremony">
                            感想 : [[${entity.informalCeremonyImpressions}]]<br>
                        </span>
                        <span th:case="training">
                             感想 : [[${entity.trainingImpressions}]]<br>
                        </span>
                        <span th:case="jobOther">
                            内容 : [[${entity.activityContent}]]<br>
                            感想 : [[${entity.othersImpressions}]]<br>
                        </span>
                        <span th:case="seminar">
                            <div th:each="seminar, stat : ${entity.getSeminarForms()}">
                                <div class="card">
                                    <div class="card-header">
                                        訪問企業 [[${stat.count}]]
                                    </div>
                                    <div class="card-body">
                                        会社名 : [[${seminar.companyName}]]<br>
                                        担当者名 : [[${seminar.manager}]]<br>
                                        業種 : [[${seminar.industry}]]<br>
                                        感想 : [[${seminar.seminarImpressions}]]<br>
                                    </div>
                                </div>
                            </div>
                        </span>
                    </th:block>
                </div>
            </div>
        </div>
    </div>
    <th:block th:if="${mode == 'reportApproval' && not #lists.isEmpty(logEntities)}">
        <div class="submitbtn">
            <input class="btn btn-primary btn-lg" type="submit">
        </div>
    </th:block>
    <th:block th:if="${mode == 'reportApproval' && #lists.isEmpty(logEntities)}">
        <h3 class="text-center">全て承認済みです</h3>
    </th:block>
    </form>
</section>
</body>
</html>