<!DOCTYPE html>
<html lang="ja"
      layout:decorate="~{layout/layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/style.css}">
</head>
<body>
    <section layout:fragment="content">
        <a th:href="@{/jobportal/teacher}">先生</a><br>
        <h1 class="text-center">[[${student.surname}]]さん、こんにちは</h1>
        <hr>
        <div class="field">
            <h3 class="info m-3">
                学籍番号:[[${student.gno}]]<br>
                学年:[[${student.grade}]]<br>
                クラス:[[${student.classroom}]]<br>
                出席番号:[[${student.cno}]]<br>
                学科:[[${student.department}]]<br>
                コース:[[${student.course}]]<br>
                <a th:href="@{/jobportal/student/{id}/desiredOccupation(id = ${student.gno})}">希望職業を変更する</a><br>
                希望業種:
                <span th:text="${desiredOccupation != null}?${desiredOccupation.business}:'未選択'"></span><br>
                希望職種:
                <span th:text="${desiredOccupation != null}?${desiredOccupation.occupation}:'未選択'"></span>
            </h3>
            <h3 class="url m-3">
                <a th:href="@{/jobportal/student/{id}/OACreationForm(id = ${student.gno})}">新規公欠届作成</a><br>
                <a th:href="@{/jobportal/student/{id}/OAList(id = ${student.gno})}">提出済み公欠届</a><br>
                <a th:href="@{/jobportal/student/{id}/reportLogs(id = ${student.gno})}">先輩たちの就活報告書を探す</a>
            </h3>
        </div>


    </section>
</body>
</html>