<!DOCTYPE html>
<html lang="ja"
      layout:decorate="~{layout/layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <section layout:fragment="content">
        <h1>[[${student.name}]]さん、こんにちは</h1>
        <a th:href="@{/student/{id}/OACreationForm(id = ${student.id})}">新規公欠届作成</a><br>
        <a th:href="@{/student/{id}/OABox(id = ${student.id})}">提出済み公欠届</a>
    </section>
</body>
</html>