<!doctype html>
<html lang="ja"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <title>公欠届詳細</title>
</head>
<body>
<section layout:fragment="content">
  <th:block th:if="${mode eq 'info'}">
    <a type="button" th:href="@{/jobportal/teacher/OAList}" class="btn btn-primary">戻る</a><br>
  </th:block>
  <th:block th:if="${mode eq 'search'}">
    <a type="button" th:href="@{/jobportal/teacher/studentSearch(studentId=${mainInfo.studentId})}" class="btn btn-primary">戻る</a><br>
  </th:block>
  <div>
    メール : [[${mainInfo.studentEmail}]]<br>
    ステータス : [[${mainInfo.status}]]<br>
    提出日 : [[${mainInfo.submittedDate}]]<br>
    <h1>公欠理由 : [[${mainInfo.reason}]]<br></h1>
    <th:block th:if="${mainInfo.reason} == '就活'" th:object="${jobSearchInfo}">
      <div class="ms-3">
        <h3>活動内容 : [[*{work.getJapaneseName()}]]<br></h3>
        <div class="ms-3">
          <h5>開始時間 : [[${#numbers.formatInteger(jobSearchInfo.visitStartHour,2)}]]時[[${#numbers.formatInteger(jobSearchInfo.visitStartMinute,2)}]]分<br>
            会社名 : [[*{companyName}]]<br>
            住所 : [[*{address}]]<br>
          </h5>
        </div>
      </div>
      <div th:if="*{!#strings.isEmpty(remarks)}">備考 : [[*{remarks}]]<br></div>
    </th:block>
    <th:block th:if="${mainInfo.reason} == 'セミナー・合説'" th:object="${seminarInfo}">
      <div class="ms-3">
        <h3>セミナー・合説名 : [[*{seminarName}]]<br></h3>
        <div class="ms-3">
          <h5>開始時間 : [[${#numbers.formatInteger(seminarInfo.visitStartHour,2)}]]時[[${#numbers.formatInteger(seminarInfo.visitStartMinute,2)}]]分<br>
            実施場所 : [[*{location}]]<br>
            会場名 : [[*{venueName}]]<br>
          </h5>
        </div>
      </div>
      <div th:if="*{!#strings.isEmpty(remarks)}">備考 : [[*{remarks}]]<br></div>
    </th:block>
    <th:block th:if="${mainInfo.reason} == '忌引'" th:object="${bereavementInfo}">
      <div class="ms-3">
        <h5>亡くなった方 : [[*{deceasedName}]]<br>
          続柄 : [[*{relationship}]]<br>
        </h5>
      </div>
      <div th:if="*{!#strings.isEmpty(remarks)}">備考 : [[*{remarks}]]<br></div>
    </th:block>
    <th:block th:if="${mainInfo.reason} == '出席停止'" th:object="${attendanceBanInfo}">
      <div class="ms-3">
        <h5>理由 : [[*{banReason}]]<br></h5>
      </div>
      <div th:if="*{!#strings.isEmpty(remarks)}">備考 : [[*{remarks}]]<br></div>
    </th:block>
    <th:block th:if="${mainInfo.reason} == 'その他'" th:object="${otherInfo}">
      <div class="ms-3">
        <h5>理由 : [[*{otherReason}]]<br></h5>
      </div>
      <div th:if="*{!#strings.isEmpty(remarks)}">備考 : [[*{remarks}]]<br></div>
    </th:block>
  </div>
  <br>
  <h2>公欠授業 : </h2>
  <div th:each="mapEntry, stat : ${lessonInfo}" th:object="${mapEntry}">
    <div class="ms-3">
      <h4>[[${mapEntry.key}]]<br></h4>
      <div th:each="v : ${mapEntry.value}" class="ms-3">
        <h6>[[${v.period}]]限目:[[${v.lessonName}]]</h6>
      </div>
    </div>
  </div>
  <br><br><br>
  <th:block th:if="${mainInfo.status != '受理'}">
    <th:block th:if="${mode eq 'info'}">
      <div class="d-flex justify-content-between">
        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#rejectionModal">却下</button>
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#teacherAcceptanceModal">担任承認</button>
        <th:block th:if="${mainInfo.reportRequired}">
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#careerAcceptanceModal">キャリア承認</button>
        </th:block>
      </div>
    </th:block>
  </th:block>

  <div class="modal fade" id="rejectionModal" tabindex="-1" aria-labelledby="rejectionModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
<!--          modalヘッダー-->
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="rejectionModalLabel">却下理由を入力してください</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
<!--          modalボディー-->
        <form th:action="@{/jobportal/teacher/{OAId}(OAId=${mainInfo.officialAbsenceId})}" th:method="put">
          <div class="modal-body">
            <input type="hidden" th:value="${mainInfo.studentEmail}" name="studentEmail">
              <div class="mb-3">
                <label for="reasonForRejection" class="col-form-label">却下理由:</label>
                <textarea class="form-control" id="reasonForRejection" name="reasonForRejection"></textarea>
              </div>
          </div>
<!--          modalフッター-->
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-danger" name="rejection">却下</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="modal fade" id="teacherAcceptanceModal" tabindex="-1" aria-labelledby="teacherAcceptanceModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <!--          modalヘッダー-->
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="teacherAcceptanceModalLabel">承認しますか？</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <!--            modalボディー-->
        <form th:action="@{/jobportal/teacher/{OAId}(OAId=${mainInfo.officialAbsenceId})}" th:method="put">
          <input type="hidden" name="careerCheckRequired" th:value="${mainInfo.careerCheckRequired}">
          <div class="modal-body modalContainer">
            <h5 class="form-check">
              <input class="form-check-input" type="radio" name="teacherType" value="teacher" id="teacher" checked>
              <label class="form-check-label" for="teacher">
                担任
              </label>
            </h5>
          </div>
          <!--            modalフッター-->
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary" name="acceptance">承認</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="modal fade" id="careerAcceptanceModal" tabindex="-1" aria-labelledby="careerAcceptanceModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
<!--          modalヘッダー-->
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="careerAcceptanceModalLabel">承認しますか？</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
<!--            modalボディー-->
        <form th:action="@{/jobportal/teacher/{OAId}(OAId=${mainInfo.officialAbsenceId})}" th:method="put">
          <input type="hidden" name="careerCheckRequired" th:value="${mainInfo.careerCheckRequired}">
          <div class="modal-body modalContainer">
              <h5 class="form-check">
                <input class="form-check-input" type="checkbox" value="necessary" name="reportRequired" id="reportRequired" th:checked="${mainInfo.reportRequired}">
                <label class="form-check-label" for="reportRequired">
                  報告書必要
                </label>
              </h5>
              <span class="vr mx-3" style="height: 50px;width: 2px;color: black"></span>
            <h5 class="form-check ms-3">
              <input class="form-check-input" type="radio" name="teacherType" value="career" id="career" checked>
              <label class="form-check-label" for="career">
                キャリア
              </label>
            </h5>
          </div>
<!--            modalフッター-->
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary" name="acceptance">承認</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <br><br><br>
</section>
</body>
</html>