<!DOCTYPE html>
<html lang="ja"
      layout:decorate="~{layout/layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Teacher</title>
</head>
<body>
<section layout:fragment="content">
    <a th:href="@{/jobportal/}">学生</a><br>
    <h1>先生用ページ</h1>
    <a th:href="@{/jobportal/teacher/OAList}">届け出管理</a><br>
    <a th:href="@{/jobportal/studentSearch}">学生検索</a>
    <a th:href="@{/jobportal/teacher/createSchedule}">時間割作成</a>
</section>
</body>
</html>