<!DOCTYPE html>
<html lang="ja"
      layout:decorate="~{layout/layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Teacher_OAList</title>
    <link rel="stylesheet" th:href="@{/style.css}">
    <script th:src="@{/list.js}"></script>
</head>
<body>
<section layout:fragment="content">
    <th:block th:if="${mode == 'list'}">
        <a type="button" th:href="@{/jobportal/teacher}" class="btn btn-primary">戻る</a><br>
    </th:block>
    <script th:src="@{/list.js}"></script>
    <th:block th:if="${mode == 'approval'}">
        <a type="button" th:href="@{/jobportal/teacher/OAList}" class="btn btn-primary">戻る</a><br>
    </th:block>
    <th:block th:if="${mode == 'list'}">
        <div class="card mt-3">
            <div class="card-header">検索</div>
            <div class="card-body">
                <form class="row justify-content-md-center" th:action="@{/jobportal/teacher/OAList}" th:object="${searchForm}">
                    <div class="form-group col-md-auto">
                        <label class="form-label">学年</label><br>
                        <select class="form-select" aria-label="Default select example" name="grade">
                            <option value=0 th:selected="*{grade == 0}">全て</option>
                            <option value=1 th:selected="*{grade == 1}">1</option>
                            <option value=2 th:selected="*{grade == 2}">2</option>
                        </select>
                    </div>
                    <div class="form-group col-md-auto border-end border-2 border-dark border-opacity-75 pe-4">
                        <label class="form-label">クラス</label><br>
                        <select class="form-select" aria-label="Default select example" name="classroom">
                            <option value="all" th:selected="*{classroom == 'all'}">全て</option>
                            <option value="A" th:selected="*{classroom == 'A'}">A</option>
                            <option value="B" th:selected="*{classroom == 'B'}">B</option>
                            <option value="J" th:selected="*{classroom == 'J'}">J</option>
                            <option value="M" th:selected="*{classroom == 'M'}">M</option>
                            <option value="F" th:selected="*{classroom == 'F'}">F</option>
                            <option value="G" th:selected="*{classroom == 'G'}">G</option>
                        </select>
                    </div>
                    <div class="form-group col-md-auto ps-4">
                        <label class="form-label">公欠届ステータス</label><br>
                        <div class="btn-group">
                            <input class="btn-check" type="checkbox" id="OAStatusAcceptance" name="OAStatus" value="acceptance" th:checked="*{isOAStatusSelected('acceptance')}">
                            <label class="btn btn-outline-primary" for="OAStatusAcceptance">受理</label>
                            <input class="btn-check" type="checkbox" id="OAStatusUnaccepted" name="OAStatus" value="unaccepted" th:checked="*{isOAStatusSelected('unaccepted')}">
                            <label class="btn btn-outline-primary" for="OAStatusUnaccepted">未受理</label>
                            <input class="btn-check" type="checkbox" id="OAStatusRejection" name="OAStatus" value="rejection" th:checked="*{isOAStatusSelected('rejection')}">
                            <label class="btn btn-outline-primary" for="OAStatusRejection">却下</label>
                        </div>
                    </div>
                    <div class="mt-4 form-group col-md-auto">
                        <input type="checkbox" class="btn-check" id="andFlag" autocomplete="off" value="true" name="andFlag" th:checked="*{andFlag == true}">
                        <label class="btn btn-outline-primary" style="width: 60px" for="andFlag" id="andFlagLabel" th:text="*{andFlag}?'OR':'AND'" onclick="toggleANDText()">AND</label><br>
                    </div>
                    <div class="form-group col-md-auto border-end border-2 border-dark border-opacity-75 pe-4">
                        報告書ステータス <br>
                        <div class="btn-group mt-1">
                            <input class="btn-check" type="checkbox" id="reportStatusAcceptance" name="reportStatus" value="acceptance" th:checked="*{isReportStatusChecked('acceptance')}">
                            <label class="btn btn-outline-primary" for="reportStatusAcceptance">受理</label>
                            <input class="btn-check" type="checkbox" id="reportStatusUnaccepted" name="reportStatus" value="unaccepted" th:checked="*{isReportStatusChecked('unaccepted')}">
                            <label class="btn btn-outline-primary" for="reportStatusUnaccepted">未受理</label>
                            <input class="btn-check" type="checkbox" id="reportStatusUnsubmitted" name="reportStatus" value="unsubmitted" th:checked="*{isReportStatusChecked('unsubmitted')}">
                            <label class="btn btn-outline-primary" for="reportStatusUnsubmitted">未提出</label>
                        </div>
                    </div>
                    <div class="form-group col-md-auto border-end border-2 border-dark border-opacity-75 pe-4 ps-4">
                        承認ステータス <br>
                        <div class="btn-group mt-1">
                            <input class="btn-check" type="checkbox" id="OATeacherStatusUnaccepted" name="teacherCheckFlag" value="teacherUnaccepted" th:checked="*{teacherCheckFlag == 'teacherUnaccepted'}">
                            <label class="btn btn-outline-primary" for="OATeacherStatusUnaccepted">担任未承認</label>
                            <input class="btn-check" type="checkbox" id="OACareerStatusUnaccepted" name="careerCheckFlag" value="careerUnaccepted" th:checked="*{careerCheckFlag == 'careerUnaccepted'}">
                            <label class="btn btn-outline-primary" for="OACareerStatusUnaccepted">キャリア未承認</label>
                        </div>
                    </div>
                    <div class="m-3 form-group col-md-auto ps-4">
                        <input type="checkbox" class="btn-check" id="todayOAFlag" autocomplete="off" value="true" name="todayOAFlag" th:checked="*{todayOAFlag != null}">
                        <label class="btn btn-outline-primary btn-lg" for="todayOAFlag">今日の公欠</label><br>
                    </div>
                    <div class="m-3 text-end col-md-auto">
                        <button type="submit" class="btn btn-primary btn-lg" name="search">検索</button>
                    </div>
                </form>
            </div>
        </div>
    </th:block>
    <th:block th:if="${maxSize != 0 and mode == 'list'}">
        <div class="text-center my-3">
            <a class="btn btn-success btn-lg" th:href="@{/jobportal/teacher/approvalMode?teacherType=teacher}">担任承認モード</a>
            <a class="btn btn-success btn-lg" th:href="@{/jobportal/teacher/approvalMode?teacherType=career}">キャリア承認モード</a>
        </div>
        <nav aria-label="Page navigation example">
            <ul class="pagination pagination-lg d-flex justify-content-center">
                <li class="page-item">
                    <a class="page-link" th:classappend="${currentPage == 1}?'disabled':''" th:href="@{/jobportal/teacher/OAList(currentPage=${currentPage - 1})}">prev</a>
                </li>
                <th:block th:each="i : ${#numbers.sequence(start, end)}">
                    <li class="page-item">
                        <a class="page-link" th:classappend="${i == currentPage}?'active':''" th:href="@{/jobportal/teacher/OAList(currentPage=${i})}">[[${i}]]</a>
                    </li>
                </th:block>
                <li class="page-item">
                    <a class="page-link" th:classappend="${currentPage == maxSize}?'disabled':''" th:href="@{/jobportal/teacher/OAList(currentPage=${currentPage + 1})}">next</a>
                </li>
            </ul>
        </nav>
    </th:block>
    <br>
    <form th:action="@{/jobportal/teacher/approvalMode}" method="post">
        <input type="hidden" th:name="teacherType" th:value="${teacherType}">
        <div th:each="value : ${mainList}" th:object="${value}">
            <ul class="list-group list-group-horizontal row d-flex justify-content-center" style="width: 90vw; box-sizing:border-box;margin-left: calc(-45vw + 50%);">
                <th:block th:if="${mode == 'list'}">
                    <li class="list-group-item col-2 m-0 p-1 bg-light align-self-center">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item m-0 p-0 d-flex align-items-center justify-content-center" th:classappend="${colors[__${value.status}__]}">公欠届 : [[${value.status}]]</li>
                            <li class="list-group-item m-0 p-0 d-flex align-items-center justify-content-center" th:classappend="${colors[__${value.reportStatus}__]}">報告書 : [[${value.reportStatus}]]</li>
                        </ul>
                    </li>
                </th:block>
                <li class="list-group-item col-5 text-center px-0 d-flex align-items-center justify-content-center">
                    <h4 class="my-1">[[*{grade}]][[*{classroom}]]   [[*{course}]]   [[*{name}]]</h4>
                </li>
                <th:block th:if="${mode == 'approval'}">
                    <th:block th:if="${value.reason() == '就活'}">
                        <li class="list-group-item col-1 text-center d-flex align-items-center justify-content-center">
                            <h4 class="my-1">就活</h4>
                        </li>
                        <li class="list-group-item col-1 text-center d-flex align-items-center justify-content-center">
                            <h4 class="my-1">[[${value.jobSearchVisitStartHour}]] : [[${value.jobSearchVisitStartMinute}]] ~</h4>
                        </li>
                    </th:block>
                    <th:block th:if="${value.reason() == 'セミナー・合説'}">
                        <li class="list-group-item col-1 text-center d-flex align-items-center justify-content-center">
                            <h4 class="my-1">合説</h4>
                        </li>
                        <li class="list-group-item col-1 text-center d-flex align-items-center justify-content-center">
                            <h4 class="my-1">[[${value.seminarVisitStartHour}]] : [[${value.seminarVisitStartMinute}]] ~</h4>
                        </li>
                    </th:block>
                    <th:block th:unless="${value.reason() == '就活' or value.reason() == 'セミナー・合説'}">
                        <li class="list-group-item col-2 text-center d-flex align-items-center justify-content-center">
                            <h4 class="my-1">[[${value.reason}]]</h4>
                        </li>
                    </th:block>
                </th:block>
                <th:block th:if="${value.startDate} == ${value.endDate}">
                    <li class="list-group-item col-3 text-center d-flex align-items-center justify-content-center ">
                        <h5  class="my-1">
                            <span>[[*{startDate}]]</span>
                            <span th:each="lesson, iterStat : ${value.lessons}" th:object="${lesson}">
                               [[${lesson}]]
                                <span th:unless="${iterStat.last}">,</span>
                            </span>限目
                        </h5>
                    </li>
                </th:block>
                <th:block th:unless="${value.startDate} == ${value.endDate}">
                    <li class="list-group-item col-3 text-center px-0 d-flex align-items-center justify-content-center">
                        <h5 class="">[[*{startDate}]] - [[*{endDate}]]</h5>
                    </li>
                </th:block>
                <th:block th:if="${mode == 'list'}">
                    <a th:href="@{/jobportal/teacher/OAList/{oaId}(oaId=${value.officialAbsenceId})}" type="button" class="btn infobtn btn-primary bg-primary text-light border border-dark border-3 border-opacity-25 p-0 col-1 d-flex align-items-center justify-content-center"><h5>詳細表示</h5></a>
                    <a th:href="@{/jobportal/teacher/report/{reportId}(reportId=${value.reportId})}" th:classappend="|${!(value.reportStatus == '未提出'||value.reportStatus == '不要')?'btn-primary':'btn-secondary'} ${!(value.reportStatus == '未提出'||value.reportStatus == '不要')?'':'disabled'}|" type="button" class="btn reportbtn text-light border border-dark border-3 border-opacity-25 p-0 col-1 d-flex align-items-center justify-content-center"><h5>報告書詳細</h5></a>
                </th:block>
                <th:block th:if="${mode == 'approval'}">
                        <input type="checkbox" class="btn-check"  name="options-outlined" th:id="${value.officialAbsenceId()} + acceptance" th:name="approval[__${value.officialAbsenceId()}__]" value="true" autocomplete="off">
                        <label class="btn btn-outline-primary reportbtn col-1 text-center d-flex align-items-center justify-content-center" th:for="${value.officialAbsenceId()} + acceptance"><h4 class="my-1">承認</h4></label>
                </th:block>
            </ul>
        </div>
        <th:block th:if="${mode == 'approval' && mainList != null}">
            <div class="submitbtn">
                <button type="submit" class="btn btn-primary btn-lg">送信</button>
            </div>
        </th:block>
        <th:block th:if="${mode == 'approval' && mainList == null}">
            <h3 class="text-center">全て承認済みです</h3>
        </th:block>
    </form>
    <br><br><br><br><br>
</section>
</body>
</html>